.cardLogin{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 4%;
}

.card{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
